@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px;
  font-family: Raleway, sans-serif;
}

.navbar--logo {
  width: 100px;
}

.navbar--links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  font-size: 0.75rem;
}

